// paragraph.scss
.c-paragraph_hello {
  line-height: 2.5;
}
.c-paragraph_card {
  line-height: 2;
  padding: 12px;
}
.c-paragraph_skill {
  font-size: 10px;
  font-weight: bold;
}
.c-paragraph_profile{
  line-height: 2;
  margin: 24px auto 0;
  max-width: 600px;
}
.c-paragraph_works{
  line-height: 2;
  margin: 24px auto 0;
  max-width: 600px;
}
.c-paragraph_contact{
  line-height: 2;
}